body {
  background-color: black;
  margin: 0px;
}

.flex-box {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.body-container {
  justify-content: space-between;
}

.writer-container {
  justify-content: space-between;
}

.writer {
  color: white;
}

.match-container {
  height: 100vh;
  flex-grow: 4;
}

.flex-box.writer-container,
.flex-box.match-container,
.flex-box.shop {
  flex-direction: column;
}

.card {
  margin: 3px;
}

.card.slot {
  background-color: grey;
  width: 100px;
  height: 150px;
}

.card.playable {
  background-color: brown;
  width: 100px;
  height: 150px;
}

.player .card.playable,
.shop .card {
  cursor: pointer;
}

.card .power {
  color: red;
}

.card .flex-box.stats {
  justify-content: space-between;
  padding: 5px;
}

.card .img-wrapper {
  height: 50%;
  font-size: 40px;
}

.card .image {
  max-width: 95%;
  max-height: 95%;
  padding: 2px;
}

.card .title {
  text-align: center;
}

.flex-box.turn-button-container {
  align-items: flex-end;
}

.turn-button {
  height: 20px;
}
